$base-color: #ffbb02;
$small-size: (11em/16);
$base-font: 'PT Sans', sans-serif;

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 95px;
  background-color: $base-color;
}

.top-line {
  width: 100%;
  height: 9px;
  background-color: black; 
}


.container {
  max-width: 940px;
  margin: auto;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 86px;
}

.head__logo {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  align-items: center;

}

.head__address {
  font-size: $small-size;
  margin-top: -7px;
}

h2 {
  font-size: $small-size;
  text-transform: uppercase;
  line-height: 23px;
  font-family: $base-font;
  margin-left: 5%;
}

.head__number {
  margin-left: 60%;
  font-family: $base-font;
  margin-top: -10px;
}


.navigation-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  img {
   width: 35px;
 }
}

nav {
  width: 96%;
  li {
    display: inline;
    font-size: (12.5em/16);
    text-transform: uppercase;
    margin-right: 5%;
    font-family: $base-font;
    text-decoration: none;
    color: lighten(#000, 60%);
    cursor: pointer;
  }
}

.slider-img {
  width: 100%;
  height: 373px;
  position: relative;
}

.price {
  position: absolute;
  top: 142px;
  right: 40%; 
  font-size: $small-size;
  text-transform: uppercase;
  line-height: 23px;
  font-family: $base-font;
  font-weight: bold;
}

span {
  font-size:(59em/16);
  color: white;
  position: absolute;
  top: 45px;
  right: -49px; 
}

.price__string {
  position: absolute;
  right: -49px;
  text-transform: none;
  font-size:(22em/16);
  margin-top: 4px;
}

.arrows {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 488px;
  width: 74%;
  align-items: center;
  div > img {
    width: 19px;
    cursor: pointer;
  }
}

.arrow-left {
  right: 51%;
  position: absolute;
  top: -20px;
}

.navigation-second {
  padding: 0;
  margin-bottom: 40px;
  li {
    display: inline;
    font-size:(8em/16); 
    margin-right: -3px;
    cursor: pointer;
  }
}

.yellow {
  color:$base-color; 
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product > img {
  width: 255px;
  height: 255px;
}

.product__list {
  margin-left: 3%;
  width: 70%;
  p {
    margin-top: -4px;
    font-weight: 600;
    font-family: $base-font;
  }
}

.product__input-first {
  box-shadow: 3px 3px 1px 0px lighten(#000, 80%);
  border-radius: 3px;
  width: 100%;
  height: 27px;
  background-image: url(/image/product/arrow_up.png);   
  background-repeat: no-repeat; 
  background-position: 625px; 
  margin-top: 20px;
  border: solid 1px #cccccc;

}

.product__input-second {
  box-shadow: 3px 3px 1px 0px lighten(#000, 80%);
  border-radius: 3px;
  width: 100%;
  height: 27px;
  background-image: url(/image/product/arrow-down.png);   
  background-repeat: no-repeat; 
  background-position: 625px; 
  margin-top: 20px;
  border: solid 1px #cccccc;
}


.product__characteristic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22%;
  p {
    font-size: (13em/16);
    font-family: $base-font;
    margin: 0; 
  }
  img {
    width: 25px;
  }
}

.product__characteristics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  height: 100px;
}

.arrow-up {
  float: right;
}

.product__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 40%;
  align-items: center;
  p {
    font-family: $base-font;
    font-size: (21em/16);
    font-weight: bold;
    margin-top: 20px;
  }
  button {
    width: 126px;
    height: 33px;
    text-decoration: underline;
    color: black;
    font-family: $base-font;;
    text-transform: uppercase; 
    font-size: $small-size;
    box-shadow: 2px 5px 5px 0px lighten(#000, 80%);
    border-radius: 5px;
    border: inherit;
    background: rgb(252,234,187);
    background: -moz-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 0%, rgba(252,205,77,1) 100%, rgba(251,223,147,1) 100%);
    background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 0%,rgba(252,205,77,1) 100%,rgba(251,223,147,1) 100%);
    background: linear-gradient(to right, rgba(252,234,187,1) 0%,rgba(248,181,0,1) 0%,rgba(252,205,77,1) 100%,rgba(251,223,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=1 );
  }
}

hr {
  margin-top: 25px;
}

h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  font-family: $base-font;
  margin-top: 50px;
}

.services {
  width: 100%;
  background-color: $base-color; 
  img {
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
   font-size: (13em/16);
   line-height: 25px;
 } 
}

h4 {
  text-transform: uppercase;
  font-size: (18em/16);
  margin-top: -9px;
  margin-top: 10px;
}


.services__content {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 font-family: $base-font;
 width: 112%
}

.services__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}