$base-color: #ffbb02;
$small-size: (11em/16);

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 95px;
  background-color: $base-color;
}

.head {
  width: 100%;
  height: 9px;
  background-color: black; 
}


.container {
	max-width: 940px;
	margin: auto;
}

.container__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container__logo {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  align-items: center;

}

.container__address {
  font-size: $small-size;
  margin-top: -7px;
}

h1 {
  background-image: url(/image/header/logos.png);
  background-repeat: no-repeat;
  background-size: 144px;
  text-transform: uppercase;
  font-size: (22em/16);
  height: 58px;
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: $small-size;
  text-transform: uppercase;
  line-height: 23px;
  font-family: 'PT Sans', sans-serif;
  margin-left: 5%;
}

.number {
  margin-left: 60%;
  font-family: 'PT Sans', sans-serif;
  margin-top: -10px;
}


.container-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

nav {
  width: 96%;
}

li {
  display: inline;
  font-size: (12.5em/16);
  text-transform: uppercase;
  margin-right: 5%;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: lighten(#000, 60%);
}

  .icon_home {
    width: 35px;
  }

  .slider > img {
    width: 100%;
    position: relative;
  }

  .slider__price {
   position: absolute;
   top: 142px;
   right: 40%; 
   font-size: $small-size;
   text-transform: uppercase;
   line-height: 23px;
   font-family: 'PT Sans', sans-serif;
   font-weight: bold;
 }

 span {
  font-size:(59em/16);
  color: white;
  position: absolute;
  top: 45px;
  right: -49px; 
}

.slider__string {
  position: absolute;
  right: -49px;
  text-transform: none;
  font-size:(22em/16);
  margin-top: 4px;
}